@use "sass:math";

$vertPad: 20px;
// $sidePad: 170px;
$sidePad: 20px;

$numOfEls: 4;
$elMrg: 1%;

$initAT: 1s;
$initDelayStep: 0.1s;
$fullInitAT: $initAT + $initDelayStep * ($numOfEls - 1);
$moveAT: 0.6s;
$expandAT: 0.7s;
$expandDelay: 0.1s;
$bgScaleAT: 0.8s;
$fadeoutAT: $moveAT + $expandAT*0.5;
$indexHoverAT: 0.5s;
$closeBtnAT: 0.3s;
$closeBtnLineDelay: 0.15s;
$fullExpandAT: $moveAT + $expandDelay + $expandAT;
$contentFadeinAT: 0.5s;

@mixin elHover {
  .el:hover & {
    @content;

  }
}

@mixin elActive {
  .el.s--active & {
    @content;
  }
}

@mixin contInactive {
  .cont.s--inactive & {
    @content;
  }
}

@mixin contElActive {
  .cont.s--el-active & {
    @content;
  }
}

.cont {
  position: relative;
  overflow: hidden;
  height: 80vh;
  padding: $vertPad $sidePad;

  &__inner {
    position: relative;
    height: 100%;

    &:hover .el__bg:after {
      opacity: 1;
    }
  }
}

.el {
  $elW: math.div(100% - $elMrg * ($numOfEls - 1), $numOfEls);
  $elMrgRel: percentage(math.div($elMrg, $elW));

  position: absolute;
  left: 0;
  top: 0;
  width: $elW;
  height: 100%;
  background: #252525;
  transition: transform $moveAT $expandAT, width $expandAT, opacity $moveAT $expandAT, z-index 0s $moveAT + $expandAT;

  &:not(.s--active) {
    cursor: pointer;
  }

  &__overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
  }

  &__inner {
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: transform $initAT;

    @include contInactive {
      transform: translate3d(0,100%,0);
    }
  }

  &__bg {
    position: relative;
    width: calc(100vw - #{$sidePad * 2});
    height: 100%;
    transition: transform $moveAT $expandAT;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -5%;
      width: 100%;
      height: 110%;
      background-size: cover;
      background-position: center center;
      transition: transform $initAT;
      transform: translate3d(0,0,0) scale(1);

      @include contInactive {
        transform: translate3d(0,-100%,0) scale(1);
      }

      @include elActive {
        transition: transform $bgScaleAT;
      }
    }

    &:after {
      $opacityAT: 0.5s;

      content: "";
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.3);
      opacity: 0;
      transition: opacity $opacityAT;

      @include contElActive {
        transition: opacity $opacityAT $fullExpandAT;
        opacity: 1 !important;
      }
    }
  }

  &__preview-cont {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s $fullInitAT - 0.2s;

    @include contInactive {
      opacity: 0;
      transform: translateY(10px);
    }

    @include contElActive {
      opacity: 0;
      transform: translateY(30px);
      transition: all 0.5s;
    }
  }

  &__heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-shadow: 1px 1px #333;
  }

  &__content {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s;

    @include elActive {
      z-index: 2;
      opacity: 1;
      pointer-events: auto;
      transition: all $contentFadeinAT $fullExpandAT;
    }
  }

  &__text {
    text-transform: uppercase;
    font-size: 35px;
    color: #fff;

  }

  &__close-btn {

    z-index: -1;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0s $closeBtnAT + $closeBtnLineDelay;
    cursor: pointer;

    @include elActive {
      z-index: 5;
      opacity: 1;
      pointer-events: auto;
      transition: all 0s $fullExpandAT;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 8px;
      margin-top: -4px;
      background: #fff;
      opacity: 0;
      transition: opacity 0s;

      @include elActive {
        opacity: 1;
      }
    }

    &:before {
      transform: rotate(45deg) translateX(100%);

      @include elActive {
        transition: all $closeBtnAT $fullExpandAT cubic-bezier(.72,.09,.32,1.57);
        transform: rotate(45deg) translateX(0);
      }
    }

    &:after {
      transform: rotate(-45deg) translateX(100%);

      @include elActive {
        transition: all $closeBtnAT $fullExpandAT + $closeBtnLineDelay cubic-bezier(.72,.09,.32,1.57);
        transform: rotate(-45deg) translateX(0);
      }
    }
  }

  &__index {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: $vertPad * -1;
    width: 100%;
    height: 100%;
    min-height: 250px;
    text-align: center;
    font-size: math.div(100vw, $numOfEls);
    line-height: 0.85;
    font-weight: bold;
    transition: transform $indexHoverAT, opacity $moveAT*0.5 $expandAT + $expandDelay + $moveAT;
    transform: translate3d(0,1vw,0);

    @include elHover {
      transform: translate3d(0,0,0);
    }

    @include contElActive {
      transition: transform $indexHoverAT, opacity $moveAT*0.5;
      opacity: 0;
    }

    &-back,
    &-front {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }

    &-back {
      color: #2f3840;
      opacity: 0;
      transition: opacity $indexHoverAT*0.5 $indexHoverAT*0.5;

      @include elHover {
        transition: opacity $indexHoverAT*0.5;
        opacity: 1;
      }
    }

    &-overlay {
      overflow: hidden;
      position: relative;
      transform: translate3d(0,100%,0);
      transition: transform $indexHoverAT 0.1s;
      color: transparent;

      &:before {
        content: attr(data-index);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        transform: translate3d(0,-100%,0);
        transition: transform $indexHoverAT 0.1s;
      }

      @include elHover {
        transform: translate3d(0,0,0);

        &:before {
          transform: translate3d(0,0,0);
        }
      }
    }
  }

  @for $i from 0 to $numOfEls {
    &:nth-child(#{$i + 1}) {
      $x: (100% + $elMrgRel) * $i;
      transform: translate3d($x,0,0);
      transform-origin: $x + 50% 50%;

      @include contElActive {

        &:not(.s--active) {
          transform: scale(0.5) translate3d($x,0,0);
          opacity: 0;
          transition: transform $fadeoutAT, opacity $fadeoutAT;
        }
      }

      .el__inner {
        transition-delay: $initDelayStep * $i;
      }

      .el__bg {
        transform: translate3d($elW * $i * -1,0,0);

        &:before {
          transition-delay: 0.1s * $i;
          background-image: url('../img/buttons/#{$i }.jpg');
        }
      }
    }
  }

  &:hover {

    .el__bg:after {
      opacity: 0.5;
      border-bottom: 10px solid white;
    }



  }

  &.s--active {
    z-index: 1;
    width: 100%;
    transform: translate3d(0,0,0);
    transition: transform $moveAT, width $expandAT $moveAT + $expandDelay, z-index 0s;

    .el__bg {
      transform: translate3d(0,0,0);
      transition: transform $moveAT;

      &:before {
        transition-delay: $moveAT;
        transform: scale(1);
      }
    }
  }
}


@media only screen and (max-width: 600px){
    .cont {
        // background-color: purple;
        height: 30vh;
        padding: 0 0px;
    }
    .el__heading {
        font-size: 0.8rem;
    }

    .el__bg {
        width: 100vw;
    }

    // .cont.s--el-active {
    //     height: 30vh;
    //     transition-property: height;
    //     transition-duration: 4s;
    //     transition-delay: 2s;
    // }
//     .cont {
//         background-color: yellow;
//         position: initial;
//         padding: 0px;
//         height: 10vh;
//     }
//     h2.el__heading {
//         font-size: x-small;
//     }
// }
// img.tilt {
//     float: right; padding: 7px 7px 7px 7px; border: solid #666 1px; margin: 10px 10px 10px 27px;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .cont {
        // background-color: yellow;
        height: 50vh;
        padding: 0 0px;
    }
    .el__heading {
        font-size: 0.5rem;
    }
//     .cont {
//         background-color: yellow;
//         position: initial;
//         padding: 0px;
//         height: 10vh;
//     }
//     h2.el__heading {
//         font-size: x-small;
//     }
// }
// img.tilt {
//     float: right; padding: 7px 7px 7px 7px; border: solid #666 1px; margin: 10px 10px 10px 27px;
}


  /* GLOBAL STYLES
    -------------------------------------------------- */
  /* Padding below the footer and lighter body text */
  
  body {
    padding-bottom: 40px;
    color: #5a5a5a;
    font-family: 'Open Sans', sans-serif;
    background: #444;
    /*       font-family: 'Pacifico', cursive; */
}

.modal-backdrop {
    background-color: black;
}
 
@media only screen and (max-width: 600px) {
    .cv {
        padding: 20px;
    }
    .container {
        width: 100% !important;
    }
    iframe {
        width: 100vw;
        height: 56.25vw;
    }
}

.cv {
    color: #aaa;
    /* 			color: gray; */
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 35px;
    text-align: justify;
    /*       background: green; */
}

.cv li {
    line-height: 35px;
    /* 4px +12px + 4px */
}

.cv h1 {
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #000;
    font-size: 35px;
    text-align: center;
    padding: 50px;
}

.cv #facebook {
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #000;
    vertical-align: middle;
}

.cv a:hover #facebook,
.cv a:focus #facebook {
    color: #0088cc;
    vertical-align: middle;
}

.cv a {
    color: #aaa;
    text-decoration: none;
}

.cv a:hover,
.cv a:focus {
    color: #0088cc;
    /* text-decoration: underline; */
}
/*TILT*/

.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /* -webkit-backface-visibility: hidden; */
}

.tilt:hover {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
    /* -webkit-backface-visibility: hidden; */
}
/*BLUR*/

.blur {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.blur hover {
    -webkit-filter: blur(5px);
}
/*B&W*/

.bw {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.bw:hover {
    -webkit-filter: grayscale(100%);
}
/* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: -90px;
    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

.navbar-wrapper .navbar {
    /* width: 1070px; */
    /* width: 960px; */
}
/* Remove border and change up box shadow for more contrast */

.navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
}
/* Downsize the brand/project name a bit */

.navbar .brand {
    color: #F0DC82;
    padding: 14px 20px 16px;
    /* Increase vertical padding to match navbar links */
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}
/* Navbar links: increase padding for taller navbar */

.navbar .nav>li>a {
    padding: 15px 20px;
}
/* Offset the responsive button for proper vertical alignment */

.navbar .btn-navbar {
    margin-top: 10px;
}

.dropdown .dropdown-menu a {
  color: #FFF;
  text-decoration: none;
  margin-left: 5px;
}
.dropdown .dropdown-menu {background: #111111;}
.navbar .nav>li>.dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #111111;
  position: absolute;
  top: -6px;
  left: 10px;
}
.navbar .brand {
padding-right: 0;
padding-left: 0;
margin-left: 20px;
margin-right: 20px;
float: left;
font-weight: bold;
color: #F0DC82;
text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
transition: all .2s linear;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
  text-decoration: none;
  color: black;
  background-color: #F0DC82;
  background-image: -moz-linear-gradient(top, #F0DC82, #807546);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F0DC82), to(#807546));
  background-image: -webkit-linear-gradient(top, #F0DC82, #807546);
  background-image: -o-linear-gradient(top, #F0DC82, #807546);
  background-image: linear-gradient(to bottom, #F0DC82, #807546);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffF0DC82', endColorstr='#ff807546', GradientType=0);
  }

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (max-width: 1024px) {
    .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
    }
    .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
    }
}

@media (max-width: 979px) {
    .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
    }
    .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
    }
}

@media (max-width: 767px) {
    .navbar-inner {
        margin: -20px;
    }
}
/*

  ul#demo-block{ margin:0 15px 15px 15px;

  background-color: #2c2c2c; /* fallback color, place your own */
/* Gradients for modern browsers, replace as you see fit */

// background-image: -moz-linear-gradient(top, #333333, #222222);
// background-image: -ms-linear-gradient(top, #333333, #222222);
// background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
// background-image: -webkit-linear-gradient(top, #333333, #222222);
// background-image: -o-linear-gradient(top, #333333, #222222);
// background-image: linear-gradient(top, #333333, #222222);
// background-repeat: repeat-x;
/* IE8-9 gradient filter */
/*
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
 }
*/
/*
    ul#demo-block li{ margin:0 0 10px 10px; padding:10px; display:inline; float:left; clear:both; color:#aaa; font:20px Open Sans, Helvetica, Arial, sans-serif; }
    ul#demo-block li a{ color:#eee; font-weight:bold; }
*/

#gallery-wrapper {
    margin: 0 0 0 0px;
}

#gallery {
    /*background: red;*/
    width: 100%;
    margin-bottom: 10px;
    /* height: auto; */
    top: 10px;
    left: 0px;
    right: 0px;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .itemMasonry {
        /* width: 100%;
        height: auto;
        float: left;
        margin-bottom: 4px; */
        
        /* related to Masonry gutter */
        /*   border-left: 5px; */
        /*   background: #D26; */
        /*   border-color: hsla(0, 0%, 0%, 0.5); */
        /*   border-radius: 5px; */
        /*display: none;*/
        
        /* border: 10px solid #1f1f1f; */
    }
}

/* .grid-item { width: 200px; } */
.itemMasonry {
  /* float: left; */
  

  /* width: 100px; */
    /* width: 200px;
    height: auto;
    float: left;
    margin-bottom: 4px; */
    
    /* related to Masonry gutter */
    /*   border-left: 5px; */
    /*   background: #D26; */
    /*   border-color: hsla(0, 0%, 0%, 0.5); */
    /*   border-radius: 5px; */
    /*display: none;*/
    
    /* border: 10px solid #1f1f1f; */
}



.btn-inverse {
    color: #ddd;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    *background-color: #222222;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    // filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    color: #ddd;
    background-color: #222222;
    *background-color: #151515;
}

#supersized img {
    max-width: none;
}

ul#supersized {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1f1f1f;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

#invitationModal .modal-dialog, .modal-content {
  height: 90%;
}

#invitationModal .modal-body {
/* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow-y: false;
}

#datepicker {
  height: 30px;
  vertical-align: baseline;
}
#errorMessage {
  font-size: small;
}


* { box-sizing: border-box; }

/* ---- grid ---- */

.grid {
  /* background: #EEE; */
  /* max-width: 1200px; */
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

 /* .grid-sizer, */
.grid-item { width: 20%;}
.w2{ width: 40%; }
.w3{ width: 60%; }
/* .w4{ width: 80%; }
.w5{ width: 100%; } */
.h2 { height: 400px; }
/* .h2{ height: 40%; }
.h3{ height: 60%; }
.h4{ height: 80%; }
.h5{ height: 100%; } */
/* 2 columns */
/* grid-item--width2 { width: 40%; } */
/* .w2 { width: 320px; }
.w3 { width: 480px; }
.w4 { width: 640px; } */

/* .h2 { height: 20%; } */
/* .h2 { height: 200px; } */
.h3 { height: 260px; }
.h4 { height: 360px; }

.grid-item img {
      /* border-radius: 10px; */
      /* border: 5px solid rgb(90, 90, 90); */
      /* padding: 0px; */
      border: none;
        border-radius: 7px;
      padding: 0.5em 0.5em;
  }


  #loader {
      /* position: relative; */
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 60px;
  height: 60px;
  /* margin: -76px 0 0 -76px; */
  border: 8px solid #111;
  border-radius: 50%;
  border-top: 8px solid #fff;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.blur {
  filter: blur(5px);
}